<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

    <link type="text/css" rel="stylesheet" href="../static/css/aboutUs.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/impressum.css"/>


    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head>
<body>
<!--Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
    $(function () {
        $("#nav-placeholder").load("navComponent.html");
    });
</script>
<!--end of Navigation bar-->

<div class="container">
    <div class="content">
        <div class="story">
            <div class="story-title">Unsere Geschichte</div>
            <div class="story-text">Wir sind ein
                Busreservierungsunternehmen, das sichere, bequeme und preiswerte
                Reisemöglichkeiten für Menschen im ganzen Land anbietet. Wir
                begannen unsere Reise im Jahr 2023 mit der Vision, Busreisen
                einfach und für jeden zugänglich zu machen. Seitdem haben wir uns
                zu einer der führenden Busreservierungsplattformen auf dem Markt
                entwickelt, mit mehr als einer Million zufriedener Kunden. Wir
                bieten eine Vielzahl von Routen und Fahrplänen, die Ihren
                Bedürfnissen und Vorlieben entsprechen. Egal ob Sie geschäftlich,
                privat oder abenteuerlich reisen möchten, wir haben den perfekten
                Bus für Sie.
            </div>
        </div>
        <div class="box">
            <div class="spalte">
                <img src="../static/img/bus.jpg" alt="Busse" class="spalte-image">
                <div class="spalte-name">Busse</div>
                <div class="spalte-beschreibung">Unsere Busse sind
                    geräumig, komfortabel und mit modernen Annehmlichkeiten wie
                    Klimaanlage, verstellbaren Sitzen, Wi-Fi und
                    Entertainmentsystemen ausgestattet. Sie bieten Platz für bis zu
                    50 Fahrgäste und sind ideal für Langstreckenfahrten.
                </div>
            </div>
            <div class="spalte">
                <img src="../static/img/klima.jpg" alt="warum" class="spalte-image">
                <div class="spalte-name">Klima</div>
                <div class="spalte-beschreibung">Der Klimawandel ist ein
                    globales Problem, das jeden betrifft, auch uns als
                    Busreservierungsunternehmen. Die Umwelt und die Zukunft unseres
                    Planeten liegen uns am Herzen. Busse verursachen im Vergleich zum Auto deutlich
                    weniger CO2. Nach Berechnungen des Verbandes Deutscher
                    Verkehrsunternehmen (VDV) spart jeder mit dem ÖPNV zurückgelegte
                    Kilometer im Vergleich zur Autofahrt im Durchschnitt 95 Gramm
                    Treibhausgase. Unsere Reisebusse haben mit 1,4 Litern Diesel und
                    3,2 Kilo CO2 je Person mit Abstand den geringsten Spritverbrauch
                    und Abgasausstoß und ist somit erwiesenermaßen das ökologischste
                    Verkehrsmittel.
                </div>
            </div>
        </div>
        <div class="personal">
            <div class="personal-member">
                <img src="../static/img/Ali.png" alt=Personal1 class="personal-image">
                <div class="personal-name">Ali</div>
                <div class="personal-role">Bus Operator Manager</div>
            </div>
            <div class="personal-member">
                <img src="../static/img/Furkan.png" alt="Personal2"
                     class="personal-image">
                <div class="personal-name">Furkan</div>
                <div class="personal-role">Customer Service Manager</div>
            </div>
            <div class="personal-member">
                <img src="../static/img/Sema.png" alt="Personal3" class="personal-image">
                <div class="personal-name">Sema</div>
                <div class="personal-role">Marketing Manager</div>
            </div>
        </div>
    </div>
</div>
<!--Footer-->
<div id="footer-placeholder">

</div>

<script>
    $(function () {
        $("#footer-placeholder").load("footerComponent.html");
    });
</script>
<!--end of Footer-->
</body>
</html>