<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Städte</title>
    <link type="text/css" rel="stylesheet" href="../static/css/stadt.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/main1.0.css"/>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head>
<body>
<!--Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
    $(function () {
        $("#nav-placeholder").load("navComponent.html");
    });
</script>
<!--end of Navigation bar-->
<main>

    <h1 class="uberschrift">Die meistbesuchten Städte Deutschlands</h1>
    <div class="hero-container-alleStdte">

        <div class="stadtReihe">

            <div class="container-Stadt">
                <div class="bild">
                    <img src="../static/img/berlin.jpeg" alt="">
                </div>
                <div class="text">
                    <h3>Berlin</h3>
                    <p1>Die pulsierende Hauptstadt Deutschlands, die für ihre
                        lebendige Kunst- und Kulturszene, historischen Sehenswürdigkeiten
                        wie das Brandenburger Tor und ein aufregendes Nachtleben bekannt
                        ist.
                    </p1>
                </div>
            </div>

            <div class="container-Stadt">
                <div class="bild">
                    <img src="../static/img/frankfurt.jpeg" alt="">
                </div>
                <div class="text">
                    <h3>Frankfurt</h3>
                    <p1>Das wirtschaftliche Herz Deutschlands, das für seine
                        beeindruckende Skyline, die Frankfurter Buchmesse und seine
                        internationale Finanzwelt bekannt ist.
                    </p1>
                </div>
            </div>


            <div class="container-Stadt">
                <div class="bild">
                    <img src="../static/img/hamburg.jpeg" alt="">
                </div>
                <div class="text">
                    <h3>Hamburg</h3>
                    <p1>Die Hafenstadt im Norden, <br>
                        die für ihre einzigartige Architektur, <br>
                        die Elbphilharmonie und eine maritime Atmosphäre
                        entlang der Alster und Elbe berühmt ist.
                    </p1>
                </div>
            </div>
        </div>


        <div class="stadtReihe">
            <div class="container-Stadt">
                <div class="bild">
                    <img src="../static/img/mannheim.jpeg" alt="">
                </div>
                <div class="text">
                    <h3>Mannheim</h3>
                    <p1>Mannheim, oft als "Stadt der Quadrate" bezeichnet,
                        besticht durch ihr einzigartiges Straßennetzwerk und das imposante
                        barocke Schloss Mannheim.
                    </p1>
                </div>
            </div>
            <div class="container-Stadt">
                <div class="bild">
                    <img src="../static/img/muenchen.jpeg" alt="">
                </div>
                <div class="text">
                    <h3>München</h3>
                    <p1>Die bayerische Metropole, die für ihr Oktoberfest,
                        prächtige Schlösser wie Nymphenburg und eine reiche Tradition in
                        Kunst und Wissenschaft berühmt ist.
                    </p1>
                </div>
            </div>

            <div class="container-Stadt">
                <div class="bild">
                    <img src="../static/img/stuttgart.jpeg" alt="">
                </div>
                <div class="text">
                    <h3>Stuttgart</h3>
                    <p1>Die Stadt im Herzen von Baden-Württemberg, die für ihre
                        Automobilindustrie, das Mercedes-Benz Museum und malerische
                        Weinberge in der Umgebung geschätzt wird.
                    </p1>
                </div>
            </div>
        </div>


        <div class="stadt3Reihe">
            <div class="container-Stadt">
                <div class="bild">
                    <img src="../static/img/duesseldorf.jpeg" alt="">
                </div>
                <div class="text">
                    <h3>Düsseldorf</h3>
                    <p1>Die Mode- und Kunststadt am Rhein, die für die berühmte
                        Königsallee, lebhafte Kunstszene und exzellente Restaurants und
                        Bars gerühmt wird.
                    </p1>
                </div>
            </div>


            <div class="container-Stadt">
                <div class="bild">
                    <img src="../static/img/leipzig.jpeg" alt="">
                </div>
                <div class="text">
                    <h3>Leipzig</h3>
                    <p1>Die Stadt der Musik, die für das Thomaskirchenorchester,
                        das Bach-Museum und eine aufstrebende Kreativszene bekannt ist.
                    </p1>
                </div>
            </div>

        </div>


    </div>

</main>
<!--Footer-->
<div id="footer-placeholder">

</div>

<script>
    $(function () {
        $("#footer-placeholder").load("footerComponent.html");
    });
</script>
<!--end of Footer-->
</body>
</html>