<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/navbar.css">

</head>
<body>
<header>
    <nav id='navbar'>
        <div class='logo'>
            <a class='logolink' href='homePage.html'>
                <img class='FastBus' src='../static/img/FastBus.png'/>
            </a>
        </div>
        <div class='divLink'>
            <ul>
                <li><a href='mostVisitedCities.html'>Städte</a></li>
                <li><a href='./HomepageAppl.jsp?meineBuchungen=meineBuchungen'>Meine Buchungen</a></li>
                <li><a href='aboutUs.html'>About Us</a></li>
            </ul>
        </div>
        <div class='Profilname'>
            Hallo, [User's First Name]!
        </div>
        <div class='divLogout'>
            <a class='abmelden' href='./LoginAppl.jsp?btnLogout=true'>
                <img class='' src='../static/img/clipart153139.png' alt='abmelden' width='15px'/>
                <p1> Ausloggen</p1>
            </a>
        </div>
    </nav>
</header>
</body>
</html>