<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Routen</title>
    <link type="text/css" rel="stylesheet" href="../static/css/main1.0.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/verbindungen.css"/>
    <script type="text/javascript" src="../static/js/switch.js"></script>
    <script type="text/javascript" src="../static/js/routes.js"></script>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


    <!--    <link rel="preconnect" href="https://fonts.googleapis.com" />-->
    <!--    <link rel="preconnect" href="https://fonts.gstatic.com" />-->
    <!--    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:ital,wght@0,200;0,500;1,100;1,200&display=swap"-->
    <!--          rel="stylesheet" />-->
</head>
<body>
<!--Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
    $(function () {
        $("#nav-placeholder").load("navComponent.html");
    });
</script>
<!--end of Navigation bar-->

<!--search component-->
<div id="search-placeholder">

</div>

<script>
    $(function () {
        $("#search-placeholder").load("searchComponent.html");
    });
</script>
<!--end of search component-->

<div class="verbindungen-container">

</div>


<!--Footer-->
<div id="footer-placeholder">

</div>

<script>
    $(function () {
        $("#footer-placeholder").load("footerComponent.html");
    });
</script>
<!--end of Footer-->
</body>
</html>